########################################################################
#
#   This file is:  /etc/udev/rules.d/70-ibm-storage.rules
#
#       This is a general purpose rule that can be deployed to your
#       storage servers to improve disk subsystem performance.  The
#       settings provided in this file should be reasonable improvements
#       over the defaults used by your OS.  
#
#       For tuning settings that are specific to and optimized for your
#       environment, please use the following command also provided with
#       the "gpfs_goodies" package:
#
#           tune_block_device_settings
#
#
#   After deploying this file, or if you make changes to this file and
#   want to see them take effect without a reboot, try this:
#
#       Most current version Linuxes (as of 2013) are using udevadm.
#       Use this command if you have udevadm installed (which udevadm):
#
#           udevadm trigger --verbose --subsystem-match=block
#
#       If you don't have udevadm installed, then go with udevcontrol
#       instead:
#
#           udevcontrol reload_rules
#
#
#   After applying the settings in this file, check to see if they took
#   effect:
#
#       test_block_device_settings
#
#
########################################################################
#
#   Originally created by: Jarrod Johnson
#
#   Some time in 2012 -- Brian Finley
#   - Added comments and DS3512 section
#   2013.11.07 Brian Finley <bfinley@us.ibm.com>
#   - Added 1813
#   - Added many comments
#

#
# DCS3860
# DCS3700
#
SUBSYSTEM=="block", SUBSYSTEMS=="scsi", ATTRS{model}=="181[38]*", RUN+="/bin/sh -c '/bin/echo 512 > /sys/block/%k/queue/max_sectors_kb; /bin/echo 512 > /sys/block/%k/queue/read_ahead_kb; /bin/echo 512  > /sys/block/%k/queue/nr_requests; /bin/echo 32  > /sys/block/%k/device/queue_depth; /bin/echo noop > /sys/block/%k/queue/scheduler;'"

#
# DS3512
# DS3524
#
SUBSYSTEM=="block", SUBSYSTEMS=="scsi", ATTRS{model}=="1746*", RUN+="/bin/sh -c '/bin/echo 512 > /sys/block/%k/queue/max_sectors_kb; /bin/echo 512 > /sys/block/%k/queue/read_ahead_kb; /bin/echo 512  > /sys/block/%k/queue/nr_requests; /bin/echo 32  > /sys/block/%k/device/queue_depth; /bin/echo noop > /sys/block/%k/queue/scheduler;'"

#
# DCS9550
#
SUBSYSTEM=="block", SUBSYSTEMS=="scsi", ATTRS{model}=="DCS9550*", RUN+="/bin/sh -c '/bin/echo 512 > /sys/block/%k/queue/max_sectors_kb; /bin/echo 512 > /sys/block/%k/queue/read_ahead_kb; /bin/echo 512  > /sys/block/%k/queue/nr_requests; /bin/echo 32  > /sys/block/%k/device/queue_depth; /bin/echo noop > /sys/block/%k/queue/scheduler;'"

#
# Any and all /dev/dm-* devices.
#
SUBSYSTEM=="block", KERNEL=="dm-*", RUN+="/bin/sh -c '/bin/echo 512 > /sys/block/%k/queue/max_sectors_kb; /bin/echo 512 > /sys/block/%k/queue/read_ahead_kb; /bin/echo 512  > /sys/block/%k/queue/nr_requests; /bin/echo 32  > /sys/block/%k/device/queue_depth; /bin/echo noop > /sys/block/%k/queue/scheduler;'"


#   :set tw=0 ai ts=4 et
